<%- include("partials/header") %>
<h1>Compose</h1>
<div class="form-group">
  <form action="/compose" method="POST">
    <label for="title" class="mt-3 mb-3">Title</label>
    <input class="form-control" type="text" name="postTitle" id="title" />
    <label for="post" class=" mt-3 mb-3">Post</label>
    <textarea class="form-control"  id="post" cols="30" rows="5"></textarea>
    <button class="btn btn-dark mt-3" type="submit">Publish</button>
  </form>
</div>
<%- include("partials/footer") %>
