<%- include("partials/header") %>

<div class="container-fluid">

<h1>Home</h1>

<% posts.forEach(post => { %>
	<h4><%= post.title %></h4>
	<p><%= post.content %></p>
<% }); %>


</div>
<%- include("partials/footer") %>