.container-fluid {
	padding-top: 70px;
	padding-bottom: 70px;
}

.navbar {
	padding-top: 15px;
	padding-bottom: 15px;
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	font-size: 12px;
	letter-spacing: 5px;
	font-size: 1rem;
}

.navbar-brand {
	font-size: 1.5rem;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: relative;
	text-align: center;
	width: 100%;
	height: 60px;
	margin-top: auto;	
	background-color: #9d8189;
}

.footer p {
	padding-top: 1rem;
	font-size: 1rem;
	color: #fdf0d5;
}

@media(min-width: 992px) {
	.navbar-right {
		display: flex;
		justify-content: flex-end;
	}
}